<font> enter 3 numbers and find their mean</font>
<br>
<input type="text" id="num1"placeholder ="Enter Number" autofocus />
<input type="text" id="num2" placeholder ="Enter Number" autofocus/>
<input type="text" id="num3" placeholder ="Enter Number" autofocus/>
<br>
<button onclick="mean();">Mean</button>
<input type="text" id="result"/>

<script>
        function mean(){
                a=parseInt(document.getElementById("num1").value);
                b=parseInt(document.getElementById("num2").value);
                c=parseInt(document.getElementById("num3").value);
                m=(a+b+c)/3;
		if(isNaN(a) || isNaN(b) || isNaN(c)){
                alert("please enter any NUMBER")
                return false;
                }
                document.getElementById("result").value=m;
        }
</script>
