<font>Enter marks of 5 subjects and print total and percentage</font> 
<br>
<input type="text" id="num1" placeholder ="Math Mark" autofocus/><br>
<input type="text" id="num2"placeholder ="Science Marks" autofocus/><br>
<input type="text" id="num3"placeholder ="History Marks" autofocus/><br>
<input type="text" id="num4"placeholder ="English Marks" autofocus/><br>
<input type="text" id="num5"placeholder ="Marathi Marks" autofocus/><br>
<br>
<button onclick="totals();">TOTAL</button>
<button onclick="pers();">PERCENTAGE</button>
<input type="text" id="result"/>
<script>
	function totals(){
		m = parseInt(document.getElementById("num1").value);
		s = parseInt(document.getElementById("num2").value);
		h = parseInt(document.getElementById("num3").value);
		e = parseInt(document.getElementById("num4").value);
		mar =parseInt(document.getElementById("num5").value);
		if(isNaN(m) || isNaN(s) || isNaN(h) || isNaN(e) || isNaN(mar)){
                alert("please enter any NUMBER")
                return false;
                }
		else if(m>=100 || m<=0 || s>=100 || s<=0 || h>=100 || h<=0 || e>=100 || e<=0 || mar>=100 || mar<=0){
		alert("please enter valid Number");
                return false;
                }
		else{
			total=m+s+h+e+mar
		}
		document.getElementById("result").value = total;
	
	}
	function pers(){
		m = parseInt(document.getElementById("num1").value);
                s = parseInt(document.getElementById("num2").value);
                h = parseInt(document.getElementById("num3").value);
                e = parseInt(document.getElementById("num4").value);
                mar =parseInt(document.getElementById("num5").value);
                
		if(isNaN(m) || isNaN(s) || isNaN(h) || isNaN(e) || isNaN(mar)){
                alert("please enter any NUMBER")
                return false;
                }
		else if(m>=100 || m<=0 || s>=100 || s<=0 || h>=100 || h<=0 || e>=100 || e<=0 || mar>=100 || mar<=0){
                alert("please enter valid Number");
                return false;
                }
		else{
		total=m+s+h+e+mar
                p = (total/500)*100;
		}
		document.getElementById("result").value = p;
	}

</script>
