<font>Enter two number to swap </font>
<br>
<input type="text" id="num1" placeholder ="Enter Number" autofocus />
<input type="text" id="num2"  placeholder ="Enter Number" autofocus />
<br>
<button onclick="swap();">ENTER</button>
<input type="text" id="result"/>
<input type="text" id="result1"/>
<script>
        function swap(){
                x=parseInt(document.getElementById("num1").value);
                y=parseInt(document.getElementById("num2").value);
                temp =x;
                x =y;
                y =temp;
                if(isNaN(x) || isNaN(y)){
                alert("please enter any NUMBER")
                return false;
                }
                document.getElementById("result").value=x;
                document.getElementById("result1").value=y;

        }

</script>
