<font> Enter 4 digit number and find reverse of that number</font>
<br>
<input type="text" id="num1"placeholder ="Enter Number" autofocus/>
<br>
<button onclick="reverse();">REVERSE</button>
<input type="text" id="result"/>
<script>
	function reverse(){
	num1=parseInt(document.getElementById("num1").value);
	a1=parseInt(num1/1000);
	b1=parseInt((num1/100)%10);
	c1=parseInt((num1%100)/10);
	d1=(num1%10)
	rev= d1*1000+c1*100+b1*10+a1*1;
	if(isNaN(num1)){
                alert("please enter any NUMBER")
                return false;
                }
	document.getElementById("result").value=rev;
	}
</script>
