<font>enter 4 digit number and sum of its digits</font>
<br>
<input type="text" id="num1"placeholder ="Enter Number" autofocus/>
<br>
<button onclick="add();">SUM</button>
<input type="text" id="result"/>
<script>
        function add(){
                num1=parseInt(document.getElementById("num1").value);
                a1=parseInt(num1/1000);
                b1=parseInt((num1/100)%10);
                c1=parseInt((num1/10)%10);
                d1= num1%10;
		if(isNaN(num1)){
                alert("please enter any NUMBER")
                return false;
		}
		sum=a1+b1+c1+d1;
                console.log(sum);
                document.getElementById("result").value=sum;
        }
</script>
