<font> enter 2 numbers and find Sum of their last digit</font>
<br>
<input type="text" id="num1" placeholder ="Enter Number" autofocus/>
<input type="text" id="num2" placeholder ="Enter Number" autofocus/>
<br>
<button onclick="mean();">Sum</button>
<input type="text" id="result"/>
<script>
        function mean(){
                a=parseInt(document.getElementById("num1").value);
                b=parseInt(document.getElementById("num2").value);
                a1=a%10;
                b1=b%10;
                sum=a1+b1;
		if(isNaN(a) || isNaN(b)){
                alert("please enter any NUMBER")
                return false;
                }
                document.getElementById("result").value=sum;
        }
</script>
