<font> enter 3 digit number and sum of its digit</font>
<br>
<input type="text" id="num1" placeholder ="Enter Number" autofocus/>
<br>
<button onclick="add();">SUM</button>
<input type="text" id="result"/>
<script>
        function add(){
                num1=parseInt(document.getElementById("num1").value);
                a1=parseInt(num1/100);
                b1=parseInt((num1%100)/10);
                c1=num1%10;
		sum=a1+b1+c1;
		if(isNaN(num1)){
                alert("please enter any NUMBER")
                return false;
		}
                console.log(sum);
                document.getElementById("result").value=sum;
        }
</script>
