<font> Enter Number to read value in inches and print it in feet and inches </font>
<br>
<input type="text" id="num1" placeholder ="Enter Number" autofocus />
<br>
<button onclick="values();">CONVERT</button>
<!--<input type="text" id="result"/>-->
<div id=result></div>
<script>
	function values(){
		num1=parseInt(document.getElementById("num1").value);
		foot =parseInt(num1/12);
		inches =num1%12;
		if(isNaN(num1)){
                alert("please enter any NUMBER")
                return false;
                }
		document.getElementById("result").innerHTML=`${num1} is EQL to ${foot} foot and ${inches} inches`;
	
	}

</script>
