Enter Number to read radius of Sphere and find its Volume
<br>
<input type="text" id="num1"placeholder ="Enter Number" autofocus/>
<br>
<button onclick="sphere();">VOLUME</button><br>
Volum of sphere is
<input type="text" id="result"/>

<script>
	function sphere(){
	num1=parseInt(document.getElementById("num1").value);
	pi =3.14;
	v =4/3*pi*num1*num1*num1;
	if(isNaN(num1)){
                alert("please enter any NUMBER")
                return false;
                }
	document.getElementById("result").value= v;
	}
</script>
