<font></font>
<br>
<input type="text" id="num1" placeholder ="Enter Length" autofocus /><br>
<br>
<input type="text" id="num2" placeholder ="Enter Breadth" autofocus /><br>
<br>
<input type="text" id="num3" placeholder ="Enter Hight" autofocus /><br>
<br>
<button onclick="vol();">VOLUME</button>
<button onclick="surface();">SURFACE</button>
<input type="text" id="result"/>
<script>
	function vol(){
		a=parseInt(document.getElementById("num1").value);
                b=parseInt(document.getElementById("num2").value);
		c=parseInt(document.getElementById("num3").value);
		if(isNaN(a) || isNaN(b) || isNaN(c)){
		alert("please enter any NUMBER")
		return false;
		}
		else{
		volm = a*b*c;
		}
		
		document.getElementById("result").value=volm;
	
	}
	function surface(){
		a=parseInt(document.getElementById("num1").value);
                b=parseInt(document.getElementById("num2").value);
		c=parseInt(document.getElementById("num3").value);
		if(isNaN(a) || isNaN(b) || isNaN(c)){
                alert("please enter any NUMBER")
                return false;
                }

		surf =2*(a*b+b*c+c*a);
		document.getElementById("result").value=surf;
	}

</script>

