<font>enter radius of circle and calculate Area and Circumference</font>
<br>
<input type="text" id="radius" placeholder ="Enter Number" autofocus/>
<br>

<button onclick="area();">AreaOfCircle</button>
<button onclick="circumference();">Curcumference</button>
<input type="text" id="result"/>

<script>

function area() {
        radius = parseInt(document.getElementById("radius").value);
        a=3.14*(radius*radius);
	if(isNaN(a)){
                alert("you have to enter any NUMBER")
		return false;}
	console.log(a);
        document.getElementById("result").value = a;

}
function circumference() {
        radius = parseInt(document.getElementById("radius").value);
        c=2*3.14*radius;

        console.log(c);
	if(isNaN(c)){
                alert("you have to enter any NUMBER")
		return false;}
        document.getElementById("result").value = c;

}
</script>
