<font>Enter temperature convert it into Fahrenheit</font>
<br>
<input type="text" id="num1" placeholder ="Enter Number" autofocus />
<br>
<button onclick="calculate();">CONVERT</button>
<input type="text" id="result"/>
<script>
	function calculate(){
	num1=parseInt(document.getElementById("num1").value);
	fahrenheit =(num1*1.8)+32;
	if(isNaN(num1)){
                alert("please enter any NUMBER")
                return false;
                }
	document.getElementById("result").value=fahrenheit;
	}

</script>
