function fetchData(sheet_data = []){
        alert("75768768")
//var sheet_data = [];
        var records = "";
                for (i=0; i < sheet_data.length; i++){
                        records += `<tr>`;
                        records += `<td>${sheet_data[i][0]}</td>`;
                        records += `<td>${sheet_data[i][1]}</td>`;
                        records += `<td>${sheet_data[i][2]}</td>`;
                        records += `<td>${sheet_data[i][3]}</td>`;
                        records += `<tr>`;
                }
}
console.log(sheet_data);
//document.getElementById("tbody").innerHTML= records;

fetch(url).then(data => data.json()).then(data => {
        sheet_data = data.values;
//      console.table(sheet_data);
        fetchData(sheet_data);
//      document.getElementById("tbody").innerHTML= records;

});

</script>
</html>
