<font>Enter a number and check if it is palindrome number or not</font>
<br>
<input type="text" id="num1"placeholder ="Enter Number" autofocus /><br>
<br>
<button onclick="nums();">Enter</button>
<div id ="result"></div>
<script>
	function nums(){
		abc = parseInt(document.getElementById("num1").value);
		a=parseInt(abc/100);
		b=parseInt((abc/10)%10);
		c=abc%10;
		a1=(a*100)+(b*10)+(c*1);
		b1=(c*100)+(b*10)+(a*1);
		if(isNaN(abc)){
                alert("please enter any NUMBER")
                return false;
                }
		if (a1==b1){
			document.getElementById("result").innerHTML=`${abc} is palindrome Numberr`;
		}
    
		else{
			document.getElementById("result").innerHTML=`${abc} is not palindrome Numberr`;

		}
	}
</script>
