<label> Enter Salary of Employee and print commission according to following Criteria </label>
<br>
<input type="text" id="num1" placeholder ="Enter Number" autofocus/>
<br>
<button onclick="salary();">Enter</button>
<div id="result"></div>
<script>
	function salary(){
		sal=parseInt(document.getElementById("num1").value);
		if (isNaN(sal)){
			alert("Enter Number Only")
			return false;
		}
		if(sal<=10000){
			comm=sal*0.1;
		}
		else if(salary<20000){
			comm=sal*0.12
		}
		else{
			comm=sal*0.15
		}
		document.getElementById("result").innerHTML=`your commission is ${comm}`;

	}
</script>
