<!--<font> Enter Number to read a number and check if it is even or odd </font>
<br>-->

Enter any Number to  check if it is even or odd
<input type="text" id="num"placeholder ="Enter Number" autofocus /><br>
<button onclick ="oddEven()">Enter</button>
<div id ="result"></div>

<script>
        function oddEven(){
                num = parseInt(document.getElementById("num").value);
		if(isNaN(num)){
                alert("please enter any NUMBER")
                return false;
                if (num%2==0){
                         document.getElementById("result").innerHTML = "Number is Even";
		}
		else{
			document.getElementById("result").innerHTML = "Number is Odd"

		}

                }
</script>
