<font> Enter marks of 5 subjects and print their total. Also print percentage and check if student is passed or not</font>
<br>
<input type="text" id="num1" placeholder ="Math Mark" autofocus/><br>
<input type="text" id="num2"placeholder ="Science Marks" autofocus/><br>
<input type="text" id="num3"placeholder ="History Marks" autofocus/><br>
<input type="text" id="num4"placeholder ="English Marks" autofocus/><br>
<input type="text" id="num5"placeholder ="Marathi Marks" autofocus/><br>
<br>
<button onclick="results();">Enter</button>
<input type="text" id="result"/>
<input type="text" id="result1"/>

<script>
                function results(){
			m = parseInt(document.getElementById("num1").value);
			s = parseInt(document.getElementById("num2").value);
			h = parseInt(document.getElementById("num3").value)
			e = parseInt(document.getElementById("num4").value);
			mar =parseInt(document.getElementById("num5").value);
                        if(isNaN(e) || isNaN(s) || isNaN(h) || isNaN(e) || isNaN(mar)){
                        alert("please enter number");
                        return false;
                        }
                        else if(m>=100 || m<=0 || s>=100 || s<=0 || h>=100 || h<=0 || e>=100 || e<=0 || mar>=100 || mar<=0){
                        alert("enter valid number");
                        return false;
                        }
                        else{
                                total = e + s + h + e + mar ;
                                percentage = (total/500)*100;
                        }
                        document.getElementById("result").value = total;
                        document.getElementById("result1").value = percentage;

                        //return total , percentage;
                        }


        </script>
