<label> Enter year and check if it is Leap year or not</label>
<br>
<input type="text" id="num1" placeholder ="Enter Year" autofocus/>
<br>
<button onclick="year();">Enter</button>
<div id="result"></div>
<script>
	function year(){
		l_year=parseInt(document.getElementById("num1").value);
		if(isNaN(l_year)){
			alert("enter only Year");
			return false;
		}
		if(l_year%4==0){
			document.getElementById("result").innerHTML=`Year ${l_year} is leap year`
		}
		else{
			document.getElementById("result").innerHTML=`Year ${l_year} is not leap year`
		}
	}
</script>
