<font>Enter age and gender of person and check if person is Eligible for marriage or not</font>
<br>
<input type="text" id="num1" placeholder ="Enter AGE" autofocus/><br>
<label><input type="radio" name ="gender"  value="male" />Male</label>
<label><input type="radio" name ="gender"  value="female" />Female</label>
<br>
<br>
<button onclick="marrige();">Enter</button>
<div id="result"></div>
<script>
	function marrige(){
		age=parseInt(document.getElementById("num1").value);
		gender=document.getElementsByName("gender").length;
		console.log(gender);
		if (isNaN(age)){
			alert("enter AGE only")
	 		return false;}
		for(i=0; i<gender.length; i++){
		
			if( age>=18 && gender[i].checked || age >=21 && gender[i].checked){
				document.getElementById("result").innerHTML="You are eligible for marriage";
		}
			else{
		
				document.getElementById("result").innerHTML="You are not eligible for marriage";
		}
		}
}
</script>
