<font> Enter 3 angles and check if triangle can be formed or not. If triangle can be formed then check it it is equilateral, isosceles or right angled triangle</font>
<br>
<input type="text" id="num1"placeholder ="Enter Number" autofocus />
<input type="text" id="num2" placeholder ="Enter Number" autofocus/>
<input type="text" id="num3" placeholder ="Enter Number" autofocus/>
<br>
<button onclick="angles();">Enter</button>
<div id = "result"></div>
<script>
	function angles(){
		a=parseInt(document.getElementById("num1").value);
                b=parseInt(document.getElementById("num2").value);
                c=parseInt(document.getElementById("num3").value);
		if(isNaN(a) || isNaN(b) || isNaN(c)){
                alert("please enter any NUMBER")
                return false;
                }
		if (a + b + c == 180){
			document.getElementById("result").innerHtml="triangle can be formed";
			if (a == 60 && b == 60 && c == 60){
				document.getElementById("result").innerHTML="equilateral triangle";
			}
			else if (a == 90 || b == 90 || c == 90){
				document.getElementById("result").innerHTML="right angle triangle";
			}
			else {
				document.getElementById("result").innerHTML="isosceles triangle";
			}
		}
		else{
			document.getElementById("result").innerHTML="Triangle can not be formed";
		}
	}
</script>
