<label>enter marks to read percentage of student and print Division </label>
<br>
<input type="text" id="num1" placeholder ="Math Mark" autofocus/><br>
<input type="text" id="num2"placeholder ="Science Marks" autofocus/><br>
<input type="text" id="num3"placeholder ="History Marks" autofocus/><br>
<input type="text" id="num4"placeholder ="English Marks" autofocus/><br>
<input type="text" id="num5"placeholder ="Marathi Marks" autofocus/><br>
<br>
<button onclick="res();">Enter</button>
<input type="text" id="result"/>
<input type="text" id="result1"/>
<div id="result2"></div>
<script>
	function res(){
		m = parseInt(document.getElementById("num1").value);
		s = parseInt(document.getElementById("num2").value);        
		h = parseInt(document.getElementById("num3").value);
		e = parseInt(document.getElementById("num4").value);
		mar =parseInt(document.getElementById("num5").value);
		if(isNaN(m) || isNaN(s) || isNaN(h) || isNaN(e) || isNaN(mar)){
                        alert("Enter numeric value only");
                        return false;
                        }
                        else if(m>100 || m<0 || s>100 || s<0 || h>100 || h<0 || e>100 || e<0 || mar>100 || mar<0){
                                alert("enter valid Number");
                                return false;
                        }
                        else  {
                                tot = m+s+h+e+mar;
                                per= (tot/500)*100;
                                }
		
		//if (m<=40 && s<=40 && h<=40 && e<=40 && mar<=40 ){
		if (m>=40 && s>=40 && h>=40 && e>=40 && mar>=40 ){
                        document.getElementById("result2").innerHTML="student is passed"
                        }
                         if (per >= 75){
                        document.getElementById("result2").innerHTML= " student passed 1st class with distinction";
                        }
                        else if (per >= 60 ){
                        document.getElementById("result2").innerHTML= "student  passed 1st class";
                        }
                        else if (per >= 50 ){
                        document.getElementById("result2").innerHTML= "student  passed 2st class";
                        }
                        else if (per >= 40){
                        document.getElementById("result2").innerHTML= "student  passed 3rd class";
                        }
                        else{
                        document.getElementById("result2").innerHTML= "student  is fail";
                        }
                        document.getElementById("result").value = tot;
                        document.getElementById("result1").value = per;
	}
</script>
