Enter Number to read 2 numbers and check if their last digits are same or not
<br>
<input type="text" id="num1" />
<input type="text" id="num2" /><br>
<br>

<button onclick ="num()">Enter</button>
<div id ="result"></div>

<script>
        function num(){
                num1 = parseInt(document.getElementById("num1").value);
                num2 = parseInt(document.getElementById("num2").value);
                if (num1%10==num2%10){
                         document.getElementById("result").innerHTML = "Last digit are Same";
                }
                else{
                        document.getElementById("result").innerHTML = "Last digit are not Same";

                }

                }




</script>
