<font>Enter Value of Angle </font>
<br>
<input type="text" id="num1" /><br>
<br>
<input type="text" id="num2" /><br>
<br>
<input type="text" id="num3" /><br>
<br>
<button onclick="tringle();">Enter</button>
<!--<input type="text" id="result"/>-->
<div id="result"></div>
<script>
	function tringle(){
		a=parseInt(document.getElementById("num1").value);
                b=parseInt(document.getElementById("num2").value);
                c=parseInt(document.getElementById("num3").value);
		sum=a+b+c;
		if (sum==180){
		 document.getElementById("result").innerHTML="triangle can be formed.....";
		}
		else{
		 document.getElementById("result").innerHTML="triangle can be not formed......";
		}
	}

</script>
