<font>Enter value of 3 angleq to check if it is and equilateral triangle or not</font>
<br>
<input type="text" id="num1" /><br><br>
<input type="text" id="num2" /><br><br>
<input type="text" id="num3" /><br>
<br>
<button onclick="angles();">ENTER</button>
<div id="result"></div>
<script>
	function angles(){
		a=parseInt(document.getElementById("num1").value);
                b=parseInt(document.getElementById("num2").value);
                c=parseInt(document.getElementById("num3").value);
		if (a==60&&b==60&&c==60){
			 document.getElementById("result").innerHTML="equilateral triangle";
		}
		else {
			 document.getElementById("result").innerHTML="triangle is not equilateral triangle";
		}
	}
</script>
