<font> Enter marks for 5 subjects and check if student is passed or not </font><br>
<input type="text" id="num1"placeholder ="Maths Marks" autofocus /><br>
<input type="text" id="num2"placeholder ="Science Marks"  /><br>
<input type="text" id="num3"placeholder ="History Marks" /><br>
<input type="text" id="num4"placeholder ="English Marks" /><br>
<input type="text" id="num5"placeholder ="Marathi Marks"  /><br>
<br>
<button onclick="totals();">TOTAL</button>
<button onclick="pers();">PERCENTAGE</button>
<input type="text" id="result"/>
<div id= "demo"></div>
<script>
	function totals(){
                m = parseInt(document.getElementById("num1").value);
                s = parseInt(document.getElementById("num2").value);
                h = parseInt(document.getElementById("num3").value);
                e = parseInt(document.getElementById("num4").value);
                mar =parseInt(document.getElementById("num5").value);
                total=m+s+h+e+mar
                if(isNaN(m) || isNaN(s) || isNaN(h) || isNaN(e) || isNaN(mar)){
                alert("please enter any NUMBER")
                return false;
                }
		document.getElementById("result").value = total;}
	 

		function pers(){
                m = parseInt(document.getElementById("num1").value);
                s = parseInt(document.getElementById("num2").value);
                h = parseInt(document.getElementById("num3").value);
                e = parseInt(document.getElementById("num4").value);
                mar =parseInt(document.getElementById("num5").value);
                total=m+s+h+e+mar
                p = (total/500)*100;
			if (p>=35){
			document.getElementById("demo").innerHTML = "student is Passed";
		}
		else {
			document.getElementById("demo").innerHTML ="student is Failed";
		}
                if(isNaN(m) || isNaN(s) || isNaN(h) || isNaN(e) || isNaN(mar)){
                alert("please enter any NUMBER")
                return false;
                }
                document.getElementById("result").value = p;
        }

</script>
