<font> Enter 2 numbers and find the greatest of them</font>
<br>
<input type="text" id="num1" placeholder ="Enter Number" autofocus/>
<input type="text" id="num2"placeholder ="Enter Number" autofocus/><br>
<br>
<button onclick="great();">Enter</button>
<div id="result"></div>
<script>
	function great(){
		a=parseInt(document.getElementById("num1").value);
                b=parseInt(document.getElementById("num2").value);

		if(isNaN(a) || isNaN(b)){
                alert("please enter any NUMBER")
                return false;
		}

		if(a>b){
			document.getElementById("result").innerHTML=`${a} is greater than ${b}`;
		}
		else {
			document.getElementById("result").innerHTML=`${b} is greater than ${a}`;
		}
	}

</script>
