<font> Enter 3 numbers and find the greatest of them</font>
<br>
<input type="text" id="num1"placeholder ="Enter Number" autofocus />
<input type="text" id="num2" placeholder ="Enter Number" autofocus/>
<input type="text" id="num3" placeholder ="Enter Number" autofocus/><br>
<br>
<button onclick="great();">Enter</button>
<div id="result"></div>
<script>
	function great(){
		a=parseInt(document.getElementById("num1").value);
                b=parseInt(document.getElementById("num2").value);
                c=parseInt(document.getElementById("num3").value);
		if(isNaN(a) || isNaN(b) || isNaN(c)){
                alert("please enter any NUMBER")
                return false;}
		if ( a>b && b>c){
			document.getElementById("result").innerHTML=`${a} is Greater than ${b} and ${c}`;
		}
		else if ( b>c){
			 document.getElementById("result").innerHTML=`${b} is Greater than ${a} and ${c}`
		}
		else {
			 document.getElementById("result").innerHTML=`${c} is Greater than ${b} and ${a}`
		}
	}

</script>
