<font> Enter 3 digit number and check if the sum of cube of its digits is equal to that number or not</font>
<br>
<input type="text" id="num"placeholder ="Enter Number" autofocus />
<br>
<button onclick="cube();">Enter</button>
<div id="result"></div>
<script>
	function cube(){
		num=parseInt(document.getElementById("num").value);
		a=parseInt(num/100);
		b=parseInt((num/10)%10);
		c=num%10;
		sum=(a*a*a)+(b*b*b)+(c*c*c);
		if(isNaN(num)){
                alert("please enter any NUMBER")
                return false;
                }
		if (num==sum){
			document.getElementById("result").innerHTML=`sum of cube ${num} is same`
		}
		else{
			document.getElementById("result").innerHTML=`sum of cube ${num} is not same`;
		}
	}
</script>

