<font> Enter 3 numbers and check their last digit is same or not </font>
<br>
<input type="text" id="num1"placeholder ="Enter Number" autofocus />
<input type="text" id="num2" placeholder ="Enter Number" autofocus/>
<input type="text" id="num3" placeholder ="Enter Number" autofocus/>
<br>
<button onclick="sum();">Enter</button>
<div id="result"></div>
<script>
	function sum(){
		a=parseInt(document.getElementById("num1").value);
                b=parseInt(document.getElementById("num2").value);
                c=parseInt(document.getElementById("num3").value);
		if(isNaN(a) || isNaN(b) || isNaN(c)){
                alert("please enter any NUMBER")
                return false;
                }
		if(a%10==b%10 && a%10==c%10){
			document.getElementById("result").innerHTML=`last digit of ${a} ,${b} and ${c} is same`
		}
		else{
			document.getElementById("result").innerHTML=`last digit of ${a} ,${b} and ${c} is not same`
		}
	}
</script>
