<!--WAP to print first 10 fibonacci number-->
Enter Number<br>
<input type="text" id="num" placeholder="fibonacci" onkeyup="fiboValue();" autofocus />
<div id ="result"></div>
<script>
	function fiboValue(){
		num = parseInt(document.getElementById("num").value)
		a=0;
		b=1;
		op = "1";
		for(i=1; i<=num; i++){
			c = a + b;
			a = b;
			b = c;
			op = op + " "+`${c}`;

		}
		document.getElementById("result").innerHTML= op;
	}
</script>
