Eenter number and check if it is a prime number or not<br>
<input type="text" id="num" onkeyup="primeValue();" autofocus/>
<div id="result"></div>
<script>
	function primeValue(){
		num = parseInt(document.getElementById("num").value)
		for(i=1; 1<=; i++ ){
			if (i>1){
				for(j=2;  )
			}
			console.log(i)
		}
		//document.getElementById("result").innerHtml=i;
	}
</script>
