Enter number and print all even numbers from 1 to that number<br>
<input type="text" id="num" onkeyup="evenValue();" autofocus /><br>
<div id="result" ></div>
<script>
	function evenValue(){
		num1 = parseInt(document.getElementById("num").value)
		op = ""
		for (i=1; i<=num1; i++){

			if(i%2==0){
				op += i +"<br>"
			//document.getElementById("result").innerHTML=output
			}
		}

		document.getElementById("result").innerHTML=op
	
	}

</script>


