Enter number and find sum of all numbers from 1 to that number<br>
<input type="text" id="num" onkeyup="sumOfValue();" autofocus /><br>
<div id="result" ></div>
<script>
	function sumOfValue(){
		num = parseInt(document.getElementById("num").value)
		op = "";
		total=0;
		for(i=1; i<=num; i++){
			total= total + i
			if(i==1){
				op = op + i;
			}
			else{
				op = op + "+" +i  ;
			}
		}
		document.getElementById("result").innerHTML=`${op} = ${total}`
	}
</script>

