<!--WAP to print following output
54321
4321
321
21
1-->
<input type="text" id="num" /><br>
<button onclick ="pattern();">Enter</button>
<div id ="result"></div>
<script>
	function pattern(){
		a=parseInt(document.getElementById("num").value)
		var i, j;
		for(i=5; i>=1; i--)
		{
			for(j=i; j>=1; j--)
				document.write(j);
			document.write("<br>");
		}
	}
</script>
