<!--WAP to print following output
12345
1234
123
12
1-->

<input type="text" id="num" /><br>
<button onclick ="pattern();">Enter</button>
<div id ="result"></div>
<script>
	function pattern(){
		a=parseInt(document.getElementById("num").value)
			var i, j;
			for(i=a; i>=1; i--)
			{
					for(j=1; j<=i; j++)
							document.write(j);
					document.write("<br>");
			}
	}
</script>
