Enter any Number To Print 1 to That Number <br> 
<input type="text" id="num" onkeyup="printValue();" placeholder="Enter Number" autofocus /><br>
<div id ="result"></div>

<script>
        function printValue(){
		op = ""
		num = parseInt(document.getElementById("num").value);
		for(i=1; i<=num; i++){
			op += i+"<br>";
		}
		document.getElementById("result").innerHTML = op;
	}
</script>
