Enter number and find factorial of that number<br>
<input type= "text" id="num" onkeyup="numFactorial();" autofocus/>
<div id= "result"></div>
<script>
	function numFactorial(){
		num = parseInt(document.getElementById("num").value);
		op = "";
		mul = 1;
		for(i=1; i<=num; i++){
			mul = mul * i;
			if(i==1){
				op += i
			}
			else{
				 op = op + "*" +i
			}
		}
		console.log(op)
		document.getElementById("result").innerHTML=`${op}=${mul}`;
	}
</script>

