Eenter number and check if it is a prime number or not<br>
<input type="text" id="num" onkeyup="primeValue();" autofocus/>
<div id="result"></div>
<script>
        function primeValue(){
                num = parseInt(document.getElementById("num").value)
		for(i=num; 1<=100; i++ ){
			document.write(i)
		}
	}
</script>
