<input type="text" id="num1"  onkeyup="mode();" autofocus/><br>
<div id ="result"></div>
<script>
	function mode(){
		num= parseInt(document.getElementById("num1").value)
		op = ""
		var i, j, k;
		for (i=num; i>=1; i--){
			
			for(j=i; j>=1; j--){
				op = op + j;
			}
			output=""
			if(i!==1){
			for(k=0; k <=num-i; k++){
				output +="$"
			}
			}
			op =op+`<br> ${output}`;

			//document.getElementById("result").innerHTML=op
		}

			document.getElementById("result").innerHTML=op
	}
</script>
