<div id="res"></div>
<div id="result"></div>
<div id="demo"></div>
<script>
x = 5
op = ""
for(i=1; i<=10; i++){
	console.log(`${x}*${i}=${x*i}`);
	op=op+`${x}*${i}=${x*i}<br>`
}

document.getElementById("result").innerHTML=op;

list = [1,2,3,0, 3, 4, 59, 1,2,3,4,8,9,0,7,9,0,9,53, 67, 98, 4, 5]
total=0
output=""
for(i=0; i<list.length; i++){
	total=total+list[i];
		if(i==list.length-1){
			console.log(list[list.length-3]);
		
		}
		
		if(i == 0){
			output=list[i];	
		}
		else{
			output=output+`+`+list[i];
		}
}
console.log(total)
document.getElementById("res").innerHTML=total

document.getElementById("demo").innerHTML=`${output} =${total}`

</script>
